/* GENERAL */

html, body {
  height: 100%;
}

h1{
  margin: 10px 0 15px 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.7;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
  max-width: 100vw;
}

::selection{
  background: #ffe600;
  color: black;
}

.main{
  padding: 20px;
}

.appdiv{
  min-height: 100vh;
  background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
}

.clear{
  clear: both;
}

/* MENU */

nav {
  transition: transform 150ms ease-out;
}

nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  width: 16em;
  background-color: #353441;
  transform: translateX(-16em);
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
}

nav.menu-active {
  transform: translateX(0);
}

nav.menu-hover {
  transform: translateX(-15em);
}

nav ul {
  margin: 0;
  padding: 0;
    list-style-type: none;
}

nav ul a {
  display: inline-block;
  padding: 0em 1em;
  width: 100%;
  height: 60px;
  color: #fff;
  line-height: 60px;
  background-color: #353441;
  transition: all 0.5s ease-in;
  text-decoration: none;
}

nav ul a:nth-of-type(2n) {
  background-color: #3a3947;
}

nav ul a:hover {
  background: ORANGERED;
    color: white;
}

/* CHAT */

.chat-activea {
  transition: transform 150ms ease-out;
}

.chat-activea {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  height: calc(100% - 60px);
  width: 20em;
  background-color: #353441;
  transform: translateX(20em);
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
}

.chat-active {
  transform: translateX(0);
}

.chat-hover {
  transform: translateX(19em);
}

#chat-wrap{ 
  margin: 0 0 15px 0; 
}

#chat-area{ 
  display: flex;
  /*flex-direction: column-reverse; nie działa IE, Firefox, Edge, na później*/
  flex-direction: column;
  height: calc(100vh - 100px - 60px - 100px); 
  overflow: auto; 
  border-top: 2px solid #fff; 
  padding: 20px; 
  background: #fff; 
}

#chat-area .chat-line{
  color: #000; 
  margin: 0 5px 0 0; 
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#chat-area p{ 
  padding: 8px 0; 
  border-bottom: 1px solid #ddd; 
}

#chat-area .nickname{
  font-weight: bold;
}

#name-area{ 
  text-align: center; 
  color: #fff; 
  margin: 20px 0px;
  text-shadow: 1px 1px 15px black;
}

#send-message-area p{ 
  float: left; 
  color: white; 
  padding-top: 27px; 
  font-size: 14px; 
}
#sendie{ 
  position: absolute; 
  width: 80%; 
  min-height: 50px;
  padding: 10px; 
  font: 12px "Lucida Grande", Sans-Serif; 
  float: right; 
  resize: none; 
  bottom: 0;
  max-height: 50px;
}

#sendie::-webkit-scrollbar { width: 0 !important; }
#sendie { overflow: -moz-scrollbars-none; }
#sendie { -ms-overflow-style: none; }


#chat-button{
  width: 20%;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: orangered;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.chat-tabs {
  text-align: center;
}

.chat-tabs{
    display: flex;
    align-items: center;
}

.chat-tabs ul{
  width: 100%;
}

.chat-tabs ul li{
  height: 60px;
  width: 60px;
  line-height: 60px;
  z-index: 100;
  display: inline-block;
  height: 60px;
  width: calc(100% / 3);
  line-height: 60px;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #353441;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.chat-tabs ul li i{
  height: 60px;
  line-height: 60px;
  vertical-align: bottom;
}

.chat-tabs ul li  + .chat-tabs ul li  {
  margin-left: 2%;
}

.chat-tabs ul li:hover {
  color: #353441;
  background: orangered;
}

.chat-tabs ul li.react-tabs__tab.react-tabs__tab--selected:hover {
  color: #353441;
  background: #fff;
}

.react-tabs__tab.react-tabs__tab--selected{
  color: #353441;
  background: #fff;
}

.wrap-users-area{ 
  height: calc(100vh - 100px - 60px - 100px); 
  overflow: auto; 
  border-top: 2px solid #fff; 
  padding: 20px; 
  background: #fff; 
  user-select: none;
}

.wrap-additional-area{ 

  height: calc(100vh - 100px - 60px - 100px); 
  overflow: auto; 
  border-top: 2px solid #fff; 
  padding: 20px; 
  background: #fff; 
}

.wrap-additional-area .history-line{
  color: #000; 
  margin: 0 5px 0 0; 
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.wrap-additional-area p{ 
  padding: 8px 0; 
  border-bottom: 1px solid #ddd;
}

.wrap-additional-area p span{ 
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.wrap-additional-area p .history-line span{
  color: dodgerblue;
}

span[role="img"]{
  cursor: pointer; 
}

.chat-activea:not(.chat-admin) .react-tabs__tab{
  width: 50%;
}

/* CHAT DISABLED */

.chat-disabled div #react-tabs-1 #chat-wrap::after{
  content: "no connection";
  position: absolute;
  height: 65%;
  width: 100%;
  text-align: center;
  color: white;
}

/* FOOTER */

.footer {
  position: fixed;
  z-index: 200;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #353441;
  color: white;
  text-align: center;
  border-top: 1px solid white;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
}

.footer label {
  z-index: 100;
  display: block;
  display: inline-block;
  height: 60px;
  width: 65px;
  line-height: 60px;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #353441;
  cursor: pointer;
  user-select: none;
}

.footer label:hover {
  color: #353441;
  background: orangered;
}

input[type=checkbox]{
  position: absolute;
  left: -600vw;
}

input:checked + label{
  background-color: #fff;
  color: #000;
}

.footer div label span i {
  height: 60px;
  line-height: 60px;
  vertical-align: bottom;
}

/* LOGIN */

.login_form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.login_form div div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_form .form-div{
  background-color: #fafafa;
  padding: 50px 80px 50px 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 3px 6px 6px;
}

.form-field{
  padding: 10px 0px;
}

.form-field label span{
  font-size: 12px;
}

.form-div h1{
  text-align: center;
  margin-bottom: 50px;
}

.login--input {
  width: 100%;
  padding: 12px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  box-sizing: border-box;
}

.login--input:focus{
  border-bottom: 1px solid red;
}

.login--button{
  display: inline-block;
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  background-color: #3369ff;
  text-align: center;
  text-decoration: none;
  outline: 0;
  border: 0;
  padding: 20px 0px;
}

.login--button:hover{
  background-color: #0032bd;
}

.login--button:disabled{
  background-color: #ccc;
  color: #333;
}

.form-div form #error-msg{
  display: inline-block;
  font-size: 14px;
  width: 100%;
  padding: 20px 0;
  border-radius: 5px;
  color: #ff3434;
  margin: 0;
}

/* IFRAME */

.iframediv {
  width: 700px;
  height: 700px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 100px;
}

#scoreboard, #scoreboardx{
  width: 100%;
  height: 100%;
}

#scoreboard{
  pointer-events: none;
}

.form-iframe{
  margin: 0 auto;
  width: 700px;
  text-align: center;
  margin-bottom: 10px;
}

.form-iframe input[type=text]{
  margin: 0 auto;
  height: 40px;
  width: 100%;
  padding: 10px 10px;
}

.iframeURLinfo{
  margin: 0 auto;
  width: 700px;
  border: 1px solid black;
  padding: 10px 10px;
  background-color: #fff;
  overflow: hidden; 
  overflow-x: scroll;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.iframeURLinfo h1{
  margin: 0;
}

.admin--iframe {
  transition: transform 150ms ease-out;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  padding: 10px;
  background-color: #353441;
  transform: translateY(-280px);
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
  border-bottom: 1px solid white;
}

.admin--iframe--active {
  transform: translateY(0);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.iframeURLinfo::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.iframeURLinfo {
  -ms-overflow-style: none;
}

.iframeURLinfo h1{
  font-size: 12px;
}

#drop-area{
  background-color: #353441;
  height: auto;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

#fileElem{
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 30px;
}

.filelabel{
  display: block;
  width: 50%;
  margin: 0 auto;
  border: 1px dotted #fff;
  color: white;
  word-wrap: break-word;
  overflow: hidden; 
  overflow-x: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

/* LOBBY */

.roominfo--div{
	padding: 30px 30px;
}

.responsive{
    padding: 5px;
    float: left;
    width: 25%;
    display: block;
    text-align: center;
}
    
.responsive h2{
    word-wrap: break-word;
    overflow: hidden; 
    overflow-x: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.roominfo--item{
    display: block;
    border: 1px solid transparent;
    background-color: rgba(240, 240, 240, 0.99);
    padding: 30px 30px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: black;
}

.roominfo--item:hover{
    background: #e65c00;
    border: 1px solid black;
}
    
.createroom, .findroom{
    width: 100%;
    text-align: center;
    padding: 60px;
    margin: 0 auto;
    margin-bottom: 60px;
    color: white;
}

.createroom{
  margin-top: 100px;
}
    
.createroom input[type=text], .findroom input[type=text]{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #999;
    background: transparent;
    outline: none;
    box-sizing: border-box;
    font-size: 2rem;
    text-align: center;
    color: #EEE;
}
	
.createroom input[type=text]:hover,
.createroom input[type=text]:focus,
.findroom input[type=text]:hover,
.findroom input[type=text]:focus{
    border-bottom-color: #FFF;
    transition: .25s all linear;
}

button{
  transition: all 0.5s ease-in;
}
    
.createroom button{
    width: 25%;
    background-color: #353441;
    color: white;
    padding: 20px 10px;
    margin: 15px 0;
    border: 2px solid white;
    border-radius: 2px;
    cursor: pointer;
}

.createroom button:hover{
  background-color: orangered;
}

.lobby{
  padding-bottom: 200px;
}

/* POPUP */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: 5% auto;
  width: 80%;
  height: auto;
  min-height: 80%;
  max-height: 80%;
  overflow: auto;
}

.modal-inside{
  background-color: #353441;
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  align-items: center;
  color: white;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: sticky;
  z-index: 1000;
  top: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-inside .react-tabs, .lobby .react-tabs{
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.modal-inside .react-tabs .react-tabs__tab-list, .lobby .react-tabs .react-tabs__tab-list{
  position: sticky;
  top: 0;
  z-index: 99999;
}

.modal-inside ul, .lobby ul{
  width: 100%;
}

.modal-inside ul li, .lobby ul li{
  height: 60px;
  line-height: 60px;
  z-index: 100;
  display: inline-block;
  height: 60px;
  width: 50%;
  line-height: 60px;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #151421;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.modal-inside ul li i, .lobby ul li i{
  height: 60px;
  line-height: 60px;
  vertical-align: bottom;
}

.modal-inside ul li  + .modal-inside ul li, .lobby ul li  + .lobby ul li  {
  margin-left: 2%;
}

.modal-inside ul li:hover, .lobby ul li:hover {
  color: #fff;
}

.modal-inside .react-tabs__tab.react-tabs__tab--selected, .lobby .react-tabs__tab.react-tabs__tab--selected{
  border-bottom: 1px solid #fff;
}

.modal-inside .react-tabs__tab.react-tabs__tab--selected, .lobby .react-tabs__tab.react-tabs__tab--selected{
  background-color: #151421;
  color: #fff;
}

.modal-inside .react-tabs .react-tabs__tab-panel.react-tabs__tab--selected, .lobby .react-tabs .react-tabs__tab-panel.react-tabs__tab--selected{
  height: auto;
  min-height: 100%;
}

.general-area{
  display: block;
  text-align:center;
}

.generalbtn{
  width: 20%;
  height: 50px;
  background-color: #353441;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid white;
  margin-top: 5px;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.generalbtn:hover{
  background-color: orangered;
}

.general-area input[type="text"]{
  margin: 50px auto 20px auto;
  height: 40px;
  width: 50%;
  padding: 10px 10px;
}

/* POPUP table */

.filestable {
  border-collapse: collapse;
  width: 60%;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid lightgrey;
  text-overflow: ellipsis;
}

th{
  text-align: center;
  width: 60%;
  padding: 8px;
  border-bottom: 1px solid lightgrey;
  background-color: #2e2f3e;
}

tr td {
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid lightgrey;
  color: #000;
}

td:first-child, td:nth-child(2), td:nth-child(3){
  width: 25%;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td:nth-child(3) span, td:nth-child(4) span{
  cursor: pointer;
}

td:nth-child(4){
  width: 10%;
}

tr:nth-child(even){
  background-color: #fff;
}

tr:nth-child(odd){
  background-color: #eee;
}

tr:hover{
  background-color: #ccc;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 25%;
  opacity: 0;
  width: 50%;
  height: 100%;
  text-align: center;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 50px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  height: 100%;
}

.dragover{
  border: 5px dotted cyan;
  background-color: #ccc;
}

.iframeurl--button, .drop-form .filesbtn{
  margin: 0 auto;
  width: 20%;
  height: 50px;
  background-color: #353441;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid white;
  margin-top: 5px;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.iframeurl--button:hover, .filesbtn:hover{
  background-color: orangered;
}

.drop-form{
  margin-bottom: 100px;
}

.lobby #myModal .react-tabs__tab.react-tabs__tab--selected, .lobby:not(.adminlobby) .react-tabs__tab.react-tabs__tab--selected{
  width: 100%;
}

.adminlobby .react-tabs__tab-list{
  z-index: 300!important;
}

#myrooms{
  position: static;
  left: 0;
}

#myrooms:checked + label {
  background-color: inherit;
  color: inherit;
}

.myroomsclass #myrooms{
  position: absolute;
  left: -6000px;
}

.myroomsclass #myrooms--span{
  width: 21px;
  height: auto;
  display: inline-block;
  background-color: white;
  line-height: 21px;
}

.myroomsclass input:checked+#myrooms--span{
  background-color: #fff;
  color: black;
}

.myroomsclass{
  user-select: none;
}

pre {
  overflow-x: auto;
}

#chat-area{
  overflow-x: hidden;
}

input[type=text], input[type=password], textarea{ 
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; 
} /* iOS browsers fix (inputs) */

/* 600px */

@media only screen and (max-width: 600px) {
  .menu-active, .chat-active, .admin--iframe--active, .form-iframe{
    width: 100%;
  }

  .form-div{
    width: 80%;
    height: 100vh;
    max-width: 80%;
  }
}

/* 700px */

@media (max-width: 700px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
}

/* 500px */

@media (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/* MOBILE */

@media (hover: none) and (pointer: coarse) {
  .menu-active, .chat-active, .admin--iframe--active, .form-iframe{
    width: 100%;
  }

  .form-div{
    width: 80%;
    height: 100vh;
  }

  #chat-area, #chat-wrap, .wrap-users-area, .wrap-users, .wrap-additional-area, .wrap-additional{
    height: calc(var(--vh, 1vh) * 100);
  }

  body{
    position:fixed;
    width:100vw;
  }

  #root{
    height: 100%;
    overflow-y: scroll;
  }
}

@media (hover: none) and (pointer: coarse) and (min-width: 600px)  {
  .menu-active, .chat-active{
    width: 50%;
  }
}

.iframe-container-chat {
  overflow: hidden;
  min-height: 50px;
  max-height: 200px;
}

.iframe-container-chat iframe {
  border: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
